# X Layer testnet config for client
NEXT_PUBLIC_XLAYER_RPC_URL=https://testrpc.xlayer.tech/terigon

# Contract Addresses
NEXT_PUBLIC_TEST_USDT_ADDRESS=0x49B35F1e7d95943A14406e49C6EA98d2aAF094ab
NEXT_PUBLIC_FOOTBALL_PREDICTION_ADDRESS=0x243C5d157F33d2B2622c7c8CF7651e98DD176723

# Privy Client Configurations
NEXT_PUBLIC_PRIVY_APP_ID=

# Backend API URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
