PORT=3001

MONGODB_URI=
MONGODB_DB_NAME=proofplay_xcup

PRIVY_APP_ID=
PRIVY_APP_SECRET=

XLAYER_RPC_URL=https://testrpc.xlayer.tech/terigon
FOOTBALL_PREDICTION_ADDRESS=0x243C5d157F33d2B2622c7c8CF7651e98DD176723
TEST_USDT_ADDRESS=0x49B35F1e7d95943A14406e49C6EA98d2aAF094ab
ADMIN_PRIVATE_KEY=

ADMIN_DASHBOARD_USERNAME=admin
ADMIN_DASHBOARD_PASSWORD=proofplay2026
