PORT=3001

MONGODB_URI=
MONGODB_DB_NAME=

PRIVY_APP_ID=
PRIVY_APP_SECRET=

XLAYER_RPC_URL=https://testrpc.xlayer.tech/terigon
FOOTBALL_PREDICTION_ADDRESS=0x96F53acffcEcc1018A9D0955be92BA318F1a6Ee0
TEST_USDT_ADDRESS=0x7356D41ba9F25Cd873Fdf2051558E802588c117f
ADMIN_PRIVATE_KEY=

ADMIN_DASHBOARD_USERNAME=admin
ADMIN_DASHBOARD_PASSWORD=proofplay2026